li.active{
    color: #194d00;
}

div > form {
    width : 100%;
    padding: 0;
}

div.input-group {
    width: 100%;
    text-align: center;
}

form > input {
    width: 100%;
}

div.area-for-search > div {
    margin:0;
}
.search-button {
    float: left;
}

#login:hover, #register:hover{
    cursor: pointer;
}

/* this moves everything below the navbar down, when the navbar's drop down menu shows, or when the navbar extends to 2 rows
when the browser is minimized*/
.container .dropdown-menu {
    position: static;
    float: none;
}

/* fixes problem with the last rightmost button's word is at the very edge of the browser*/
.navbar-right{
    padding-right: 20px;
}

.navbar-space-div, .navbar-space-div-not-logged-in {
    width: 100%;
    height: 50px;
}

/* toggle to this class when dropdown is clicked, to move whole page down as the dorpdown collapse.
    it's 278px total with the navbar and the 5 drop down options*/
.navbar-and-dropdown-space-div{
    height: 278px;
    -webkit-transition: height 1000ms; /* Safari */
    transition: height 1000ms;
}
.navbar-and-dropdown-not-logged-in-space-div{
    height: 235px;
    -webkit-transition: height 1000ms; /* Safari */
    transition: height 1000ms;
}

.navbar-and-dropdown-space-div, .navbar-and-dropdown-not-logged-in-space-div,  .navbar-space-div{
    margin: 0;
}

/*accounts for when the navbar is 2 rows due to minimizing menu*/
@media only screen and (max-width: 870px) and (min-width: 768px) {
    .navbar-space-div {
        height: 70px; 
    }
}

@media only screen and (min-width: 768px){
    .navbar-and-dropdown-space-div{
        height: 50px;
        -webkit-transition: height 1000ms; /* Safari */
        transition: height 1000ms;
    }

    .navbar-and-dropdown-not-logged-in-space-div{
        height: 50px;
        -webkit-transition: height 1000ms; /* Safari */
        transition: height 1000ms;
    }
}